.main {
  display: grid;
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
  padding-block-end: 5vh;
  grid-template-rows: auto;
  color: var(--dark-text-color);
}

.heading {
  text-align: center;
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  margin-top: 2.5rem;
}

.separator {
  background-color: var(--primary-color);
  margin-inline: 20lvw;
  margin-block-end: 1rem;
  height: 1px;
  border: none;
}

.textContent {
  width: 70rem;
  justify-self: center;
  text-align: left;
  font-size: var(--small-paragraph-font-size);
  margin-top: 2vh;
}

.accordion {
  border: none;
  margin-block-start: 2rem;
  width: 70lvw;
  justify-self: center;
  margin-block-end: 2rem;
}

.accordionItem {
  /* background-color: #fcfcfc !important; */
  border-color: var(--tertiary-color);
  /* border-radius: 8px; */
  padding-inline: 1.5lvw;
  /* margin-block-end: 2lvh; */
  /* border-block-end-width: 2px; */
}

.popover {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  padding-inline-end: 1.5lvw;
  padding-inline-start: 1lvw;
  padding-block-end: 1lvh;
  flex-direction: row;
  gap: 2lvw;
  margin-bottom: 2vh;
  justify-content: space-around;
  align-content: space-around;
}

.modalText {
  color: black !important;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  white-space: pre-wrap;
}

.modalHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
}

.popoverTrigger {
  padding: 1dvh;
  width: auto;
  height: auto;
  flex-direction: column;
}

.collabContainer {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.logo {
  align-self: center;
  padding: 1rem;
}

.cardButton {
  background: #fdfdfd;
  border-width: 2px;
  border-radius: 2px;
  padding-block: 75%;
  padding-inline: 4lvw;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.cardContent {
  width: 130px;
  height: 200px;
  text-align: center;
}

.profileImage {
  width: 120px;
  height: 120px;
  margin-inline: 5px;
  padding-inline: 5px;
  border-radius: 50%;
}

.profileName {
  margin-top: 10px;
  font-weight: bold;
  white-space: initial;
}
.profileSubTitle {
  margin-top: 3px;
  font-weight: bold;
  line-height: 1.5em;
  max-height: 3em;
  white-space: initial;
  color: var(--grey-text-color);
}

.modalHeader {
  color: black;
}

.modalSubheader {
  color: var(--grey-text-color);
  margin-top: 2px;
  font-size: var(--small-paragraph-font-size);
}
