.main {
  display: grid;
  justify-content: center;
  background-color: var(--background-color);
}

.header {
  display: flex;
  align-items: center;
  padding: 2rem;
  height: 5rem;
  flex-direction: row;
  background-color: var(--primary-color);
}

.header p {
  color: var(--light-text-color);
  font-size: var(--title-font-size);
  white-space: nowrap;
}

.logo {
  padding-right: 2rem;
}

.navigationbar {
  height: 2.5rem;
  display: flex;
  font-size: var(--smaller-paragraph-font-size);
  justify-content: space-around;
  background-color: var(--secondary-color);
  place-items: center;
}

.navigationbarContent {
  height: 2.5rem;
  display: flex;
  white-space: nowrap;
  color: var(--light-text-color);
  align-items: center;
}

.navigationbarContent > * {
  margin-inline: 3vw;
}

.navBarSubMenu {
  line-height: 100%;
  display: none;
  position: relative;
  transform: translateX(-25%);
  z-index: 0;
  height: min-content;
  width: 10rem;
  height: fit-content;
  background-color: var(--secondary-color);
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 10px 10px;
  padding: 0.75rem;
  white-space: normal;
}

.researchNavItem:hover .navBarSubMenu,
.navBarSubMenu:hover {
  position: fixed;
  display: block;
  z-index: 1;
}

.navBarSubMenu a {
  margin-left: 0.3rem;
  display: block;
}

.landingPageContent {
  display: grid;
  width: 90vw;
  max-width: 150rem;
  justify-content: center;
}

.blurbContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  margin-top: 3rem;
  width: 65%;
  color: var(--dark-text-color);
  align-items: center;
  justify-self: center;
}

div.blurbContainer p {
  padding-bottom: 1rem;
  font-size: var(--big-paragraph-font-size);
}

#covid19Link {
  text-decoration: underline;
}

.navigationCardsContainer {
  display: grid;
  width: 65%;
  justify-self: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
}

.collabContainer {
  display: flex;
  align-items: center;
  margin-inline: 20rem;
  justify-content: space-around;
  justify-self: center;
  width: 70%;
  margin-bottom: 2rem;
}

.researchCardsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navigationCardsContainer p {
  color: var(--dark-text-color);
  align-self: center;
  text-align: left;
  font-size: 1.1rem;
  margin-inline: 3rem;
  width: 60%;
}

.card h3 {
  grid-row: 1;
  font-weight: 500;
  font-size: var(--subtitle-font-size);
}

.card div {
  grid-row: 2;
  justify-self: center;
  align-self: bottom;
}

.card {
  display: grid;
  grid-template-rows: 3rem 1rem1fr;
  grid-template-columns: 1fr;
  color: var(--light-text-color);
  padding: 2rem;
  margin-inline: 5rem;
  border-radius: var(--card-border-radius);
  width: 21rem;
  height: 16rem;
  box-shadow: var(--card-shadow);
  background: var(--secondary-color);
}

.cardBottomMargin {
  margin-bottom: 2rem;
}

.cardRight {
  justify-self: left;
}

.cardLeft {
  justify-self: right;
}

.collabCard {
  margin-top: 1rem;
  border-radius: var(--small-card-border-radius);
  display: grid;
  place-items: center;
  width: 18rem;
  height: 4rem;
  background: var(--secondary-color);
  box-shadow: var(--card-shadow);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    /* background: rgba(22, 76, 140, 0.7); */
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
