.main {
  display: grid;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 7rem;
  background-color: var(--background-color);
}

.fixedMenuContainer {
  width: max-content;
  position: absolute;
  top: 0;
  right: 50%;
}

.shortcutMenu {
  transform: translateX(-80%);
  padding: 1rem 2rem 2rem 1rem;
  margin-inline-end: 3rem;
  margin-block-start: 11rem;
  border-radius: 5px;
  width: 18rem;
  height: 85vh;
  max-height: 60rem;
  display: grid;
  grid-auto-rows: min-content;
  background: var(--background-color);
  color: var(--dark-text-color);
  font-size: var(--smaller-paragraph-font-size);
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
  overflow: scroll;
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
}

.shortcutMenuSeparator {
  background-color: var(--primary-color);
  margin-block-start: 0.5rem;
  margin-block-end: 1rem;
  height: 3px;
}

.spacing {
  height: 1rem;
}

.shortcutCategoryHeader {
  font-weight: 500;
  font-size: var(--small-paragraph-font-size);
}

.Fixed {
  position: fixed;
  top: 10rem;
  left: 1rem;
}

.chartColumn {
  justify-self: center;
  transform: translateX(23%);
  height: max-content;
  display: grid;
  grid-template-rows: auto;
}

.chartCategoryHeader {
  font-weight: 500;
  font-size: var(--small-paragraph-font-size);
}

.chartArea {
  margin-block-end: 3rem;
  border-style: solid;
  border-width: 1px;
  border-color: var(--primary-color);
  background-color: white;
  height: 30rem;
  width: 50rem;
  justify-self: start;
  position: relative;
}

.tooltip {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: aquamarine;
  border-radius: 100px;
  width: 15px;
  height: 15px;
}
