.main {
  display: grid;
  background-color: var(--background-color);
  width: 100%;
  padding-inline: 18vw;
  padding-block-end: 5vh;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-auto-rows: min-content;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .main {
    padding-inline: 10vw;
    padding-block-end: 3vh;
  }
}

.doughnutChart {
  justify-self: center;
  height: 200px;
  width: auto;
}

.card1Title {
  grid-row: 200;
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  margin-top: 5vh;
  margin-bottom: 1.5vh;
  color: #082454;
}
.card2Title {
  grid-row: 350;
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  margin-top: 6vh;
  margin-bottom: 1.5vh;
  color: #082454;
}
.card3Title {
  grid-row: 450;
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  margin-top: 6vh;
  margin-bottom: 1.5vh;
  color: #082454;
}
.card4Title {
  grid-row: 550;
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  margin-top: 6vh;
  margin-bottom: 1.5vh;
  color: #082454;
}
.card5Title {
  grid-row: 650;
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  margin-top: 6vh;
  margin-bottom: 1.5vh;
  color: #082454;
}
.card6Title {
  grid-row: 750;
  font-size: var(--subtitle-font-size);
  font-weight: bold;
  margin-top: 6vh;
  margin-bottom: 1.5vh;
  color: #082454;
}
@media only screen and (max-width: 600px) {
  .card1Title {
    grid-row: 200;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 0vh;
    color: #082454;
  }
  .card2Title {
    grid-row: 350;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 0vh;
    color: #082454;
  }
  .card3Title {
    grid-row: 450;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 0vh;
    color: #082454;
  }
  .card4Title {
    grid-row: 550;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 0vh;
    color: #082454;
  }
  .card5Title {
    grid-row: 650;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 0vh;
    color: #082454;
  }
  .card6Title {
    grid-row: 750;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 0vh;
    color: #082454;
  }
}

.cardSubtitle {
  margin-inline-start: 2rem;
  margin-block-start: 1rem;
  margin-block-end: 0;
  color: #000000;
  font-size: var(--small-paragraph-font-size);
  font-weight: 500;
}
@media only screen and (max-width: 600px) {
  .cardSubtitle {
    font-size: 15px;
    font-weight: bold;
    margin-top: 1.5vh;
    margin-bottom: 0.5vh;
    margin-inline-start: 1rem;
    margin-block-start: 1rem;
    color: #000000;
  }
}

.card1 {
  grid-row: 300;
  min-height: fit-content;
  width: 100%;
  justify-self: center;
  overflow: hidden;
  background-color: white;
  border-radius: var(--card-border-radius);
  z-index: 1;
  border: 2px solid #082454;
}
.card2 {
  grid-row: 400;
  min-height: fit-content;
  width: 100%;
  justify-self: center;
  overflow: hidden;
  background-color: white;
  border-radius: var(--card-border-radius);
  border: 2px solid #082454;
}
.card3 {
  grid-row: 500;
  min-height: fit-content;
  width: 100%;
  justify-self: center;
  overflow: hidden;
  background-color: white;
  border-radius: var(--card-border-radius);
  border: 2px solid #082454;
}
.card4 {
  grid-row: 600;
  min-height: fit-content;
  width: 100%;
  justify-self: center;
  overflow: hidden;
  background-color: white;
  border-radius: var(--card-border-radius);
  border: 2px solid #082454;
}
.card5 {
  grid-row: 700;
  min-height: fit-content;
  width: 100%;
  justify-self: center;
  overflow: hidden;
  background-color: white;
  border-radius: var(--card-border-radius);
  border: 2px solid #082454;
}
.card6 {
  grid-row: 800;
  min-height: fit-content;
  width: 100%;
  justify-self: center;
  overflow: hidden;
  background-color: white;
  border-radius: var(--card-border-radius);
  border: 2px solid #082454;
}

@media only screen and (max-width: 600px) {
  .card1 {
    grid-row: 210;
    min-height: auto;
    width: 35%;
    margin-top: 1.5vh;
    margin-bottom: 5vh;
    margin-left: 1.5vh;
    border: 1px solid #082454;
    justify-self: left;
  }
  .card2 {
    grid-row: 360;
    min-height: auto;
    width: 35%;
    margin-top: 1.5vh;
    margin-bottom: 5vh;
    margin-left: 1.5vh;
    border: 1px solid #082454;
    justify-self: left;
  }
  .card3 {
    grid-row: 460;
    min-height: auto;
    width: 35%;
    margin-top: 1.5vh;
    margin-bottom: 5vh;
    margin-left: 1.5vh;
    border: 1px solid #082454;
    justify-self: left;
  }
  .card4 {
    grid-row: 560;
    min-height: auto;
    width: 35%;
    margin-top: 1.5vh;
    margin-bottom: 5vh;
    margin-left: 1.5vh;
    border: 1px solid #082454;
    justify-self: left;
  }
  .card5 {
    grid-row: 660;
    min-height: auto;
    width: 35%;
    margin-top: 1.5vh;
    margin-bottom: 5vh;
    margin-left: 1.5vh;
    border: 1px solid #082454;
    justify-self: left;
  }
  .card6 {
    grid-row: 760;
    min-height: auto;
    width: 35%;
    margin-top: 1.5vh;
    margin-bottom: 5vh;
    margin-left: 1.5vh;
    border: 1px solid #082454;
    justify-self: left;
  }
}

.definitionsText {
  font-size: 1rem;
  color: #333;
  text-align: left;
  margin: 0;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-start: 0;
  padding-block-end: 0;
}

@media only screen and (max-width: 600px) {
  .definitionsText {
    font-size: 0.8rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }
}

.carousel {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.carouselContainer {
  display: flex;
  height: 100%;
  padding-block-end: 1rem;
}

@media only screen and (max-width: 600px) {
  .carouselContainer {
    padding-block-end: 0;
  }
}

.carouselSlide {
  flex: 0 0 100%;
  display: grid;
  padding-inline: 1vw;
  grid-template-rows: 1fr;
}

@media only screen and (max-width: 600px) {
  .carouselSlide {
    padding-inline: 0;
  }
}

.prevSVGButton {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 4rem;
  color: #002254;
}
.nextSVGButton {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  right: 4rem;
  color: #002254;
}

@media only screen and (max-width: 600px) {
  .prevSVGButton {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    bottom: 10%;
    left: 1rem;
    right: 1rem;
  }
  .nextSVGButton {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    bottom: 10%;
    right: 1rem;
  }
}

.componentRow {
  grid-row: 1;
  display: grid;
  grid-template-columns: 45fr 0vw 4fr;
}

.quotationsText {
  padding-inline-start: 7rem;
  padding-inline-end: 2rem;
  padding-block-start: 2;
  padding-block-end: 2;

  margin-block-start: 3rem;
  color: var(--grey-text-color);
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .quotationsText {
    font-size: 0.8rem;
    padding-inline-start: 2rem;
    padding-inline-end: 1rem;
    margin-block-start: 2.5rem;
    margin-block-end: 1.5rem;
    text-align: center;
  }
}

.paginationDots {
  height: 1rem;
  bottom: 1rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.paginationDot {
  height: 0.5rem;
  width: 0.5rem;
  margin-inline: 0.2rem;
  border-radius: 1rem;
  background-color: var(--pagination-dots-unselected);
}
.paginationDotSelected {
  background-color: var(--pagination-dots-selected);
}

